{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Admin Panel{% endblock %}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" type="text/css" href="{% static 'kelimeler/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'kelimeler/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'kelimeler/css/responsive.css' %}">
      <link rel="icon" href="{% static 'kelimeler/images/fevicon.png' %}" type="image/gif" />
      <link rel="stylesheet" href="{% static 'kelimeler/css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'kelimeler/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'kelimeler/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- admin header start -->
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
               <div class="logo"><a href="{% url 'liste_gorunumu' %}"><img src="{% static 'kelimeler/images/logo.png' %}"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'liste_gorunumu' %}">Ana Sayfa</a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link text-white" href="/admin/">Admin Panel</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/api/kelimeler/">API</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      <!-- admin header end -->

      {% block content %}{% endblock %}

      <!-- JS files -->
      <script src="{% static 'kelimeler/js/jquery.min.js' %}"></script>
      <script src="{% static 'kelimeler/js/popper.min.js' %}"></script>
      <script src="{% static 'kelimeler/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'kelimeler/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'kelimeler/js/plugin.js' %}"></script>
      <script src="{% static 'kelimeler/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'kelimeler/js/custom.js' %}"></script>
      <script src="{% static 'kelimeler/js/owl.carousel.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

      {% block extra_js %}{% endblock %}
   </body>
</html>