{% extends "base_kullanici.html" %}
{% load static %}

{% block title %}
Listeler
{% endblock %}

{% block banner %}

<div class="banner_section layout_padding">

   <div class="container">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

         <div class="carousel-inner">

            <div class="carousel-item active">

               <p class="banner_text">
                  Kelime Defteri
               </p>

               <h1 class="banner_taital">
                  Kelime
                  <br>
                  listelerin burada
               </h1>

               <div class="read_bt">
                  <a href="#">
                     Listeleri Gör
                  </a>
               </div>

            </div>

         </div>

      </div>

   </div>

</div>

{% endblock %}

{% block content %}

<div class="language_section layout_padding">

   <div class="container">

      <h1 class="language_taital">
         Kelime Listelerim
      </h1>

      <div class="language_section_2 layout_padding">

         <div class="row">

            {% for liste in listeler %}

            <div class="col-lg-3 col-sm-6">

               <div class="box_main">

                  <h6 class="heavy_text">
                     {{ liste.name }}
                  </h6>

               </div>

               <div class="readmore_bt">

                  <a href="{% url 'kelime_gorunumu' liste.id %}">
                     Listeyi Aç
                  </a>

               </div>

            </div>

            {% endfor %}

         </div>

      </div>

   </div>

</div>

{% endblock %}